{% extends "StolarzBundle:Default:base.html.twig" %}

{% block title %}Dodaj element{% endblock %}

{% block content %}
    <h1>Zamówienie klienta {{ order.customer.name }}</h1>
    <h3>Dodaj element:</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}