{% extends "StolarzBundle:Default:base.html.twig" %}

{% block title %}Zamówienie o ID: [WSTAWIC NR ZAMOWIENIA] {% endblock %}

{% block content %}
    <h1>Zamówienie o ID: {{ orderById.id }}</h1>

    <h5>Klient:
        <a href="{{ path('orderShowByCustomerId', {'customerId':orderById.customer.id}) }}">
            {{ orderById.customer.name }}
        </a>
    </h5>

    <table border = "1" rules = "all">
        {% if orderById.element is empty %}
            <font color="red"><b>Brak elementów w zamówieniu.</b></font>
        {% else %}

        <tr>
            <td>Numer elementu</td>
            <td>Sztuk</td>
            <td>Materiał</td>
            <td>Długość</td>
            <td>Obrzeże 1</td>
            <td>Obrzeże 2</td>
            <td>Szerokość</td>
            <td>Obrzeże 1</td>
            <td>Obrzeże 2</td>
            <td>Obrotowo</td>
            <td>Usuń element</td>
        </tr>

            {% set i = 0 %}
            {% for element in orderElements %}
                {% set i = i + 1 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ element.quantity }}</td>
                    <td>{{ element.material }}</td>
                    <td>{{ element.lenght }}</td>
                    <td>{{ allEdges[element.edgeLenght1.id].name }}</td>
                    <td>{{ allEdges[element.edgeLenght2.id].name }}</td>
                    <td>{{ element.width }}</td>
                    <td>{{ allEdges[element.edgeWidth1.id].name }}</td>
                    <td>{{ allEdges[element.edgeWidth2.id].name }}</td>
                    <td>
                        {% if element.rotatable == true %}
                            Tak
                        {% else %}
                            Nie
                        {% endif %}
                    </td>
                    <td><a href="{{ path('deleteElement', {'elementId':element.id}) }}">Usuń element</a></td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>

    <h3><a href="{{ path('deleteOrder', {'orderId':orderById.id}) }}">Usuń zamówienie</a></h3>
    <h3>
        {#<a href="{{ path('deleteOrder', {'orderId':orderById.id}) }}">#}
            Wyślij maila
        {#</a>#}
    </h3>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}